<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function(OneSignal) {
      await OneSignal.init({
        appId: "9a13dc62-6e2c-4109-9310-a361b45f0fd5",
      });
    });
  </script>
</head>
<body>

<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>